body {
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.limitBtn {
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: rgb(255, 240, 171);
  border-radius: 5px;
  margin: 0 1rem 1rem 1rem;
}

#guessBox {
  width: 4rem;
}

#submitBtn {
  background-color: rgb(143, 255, 169);
  border-radius: 5px;
}

#playAgain {
  background-color: rgb(143, 158, 255);
  border-radius: 5px;
}
